<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.vedetta</string>
    <key>ProgramArguments</key>
    <array>
        <string>/Users/ruben/vedetta/Vedetta.app/Contents/MacOS/vedetta</string>
        <string>-config</string>
        <string>/Users/ruben/vedetta/config.yml</string>
    </array>
    <key>WorkingDirectory</key>
    <string>/Users/ruben/vedetta</string>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>StandardOutPath</key>
    <string>/Users/ruben/Library/Logs/vedetta/vedetta.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/ruben/Library/Logs/vedetta/vedetta.log</string>
    <key>ProcessType</key>
    <string>Interactive</string>
</dict>
</plist>
