[Unit]
Description=Vedetta NVR
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/opt/vedetta/vedetta -config /opt/vedetta/config.yml
WorkingDirectory=/opt/vedetta
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
